a{
  color: #ffffff;
  font-size: 16px;
}
a:hover{
  color: #cc66ff;
}
.btn-common {
  background: #cc66ff;
}
.btn-outline-primary{
  border: solid 1px #cc66ff !important;
}
.btn-outline-primary:hover{
  background-color: #cc66ff !important;
}
.btn-common:hover{
 box-shadow: 0 14px 26px -12px rgba(233,30,99,0.42), 0 4px 23px 0px rgba(233,30,99,0.12), 0 8px 10px -5px rgba(233,30,99,0.02);
}
/* Back to Top */
.back-to-top i {
  background-color: #cc66ff;
}
/* Top Roof */
#roof{
  background: #cc66ff;
}
/* Navbar */

.logo{
  min-width: 100%;
  height: 3.7rem;
}

.py-10{
  padding: 8rem 0rem 8rem 0rem;
}

.hero-text{
  text-align: center;
  position: absolute;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}

.border-left-yellow{
  border-left: 3px solid #f7c014!important;
}
.header.sticky_header{
  background-color:#18181c;
margin: 0;
padding: 5px;
-webkit-box-shadow: 0 0 42px rgba(0, 0, 0, 0.08);
box-shadow: 0 0 42pxrgba(0, 0, 0, 0.08);
-webkit-transition: all ease-in-out 0.4s;
transition: all ease-in-out 0.4s;
}
.navbar-default .navbar-toggle .icon-bar{
  background: #cc66ff !important;
}
.navbar-event .navbar-nav li a:hover,
.navbar-event .navbar-nav li .active > a,
.navbar-event .navbar-nav li a:focus {
  color: #cc66ff;
}
.navbar-event .dropdown .dropdown-menu {
  border-color: #cc66ff;
}
.navbar-event .dropdown .dropdown-menu > li > a:hover,
.navbar-event .dropdown .dropdown-menu > li > a .active {
  color: #cc66ff;
}
.navbar-event .dropdown .dropdown-menu > li.active > a {
  background: #cc66ff !important;
  color: #fff;
}
.navbar-event .navbar-nav > .active > a,
.navbar-event .navbar-nav > .active > a:focus,
.navbar-event .navbar-nav > .active > a:hover {
  background: #cc66ff !important;
  color: #fff;
}
.navbar-event .navbar-nav > .open > a,
.navbar-event .navbar-nav > .open > a:focus,
.navbar-event .navbar-nav > .open > a:hover {
  color: #cc66ff;
}
.navbar-event .navbar-nav > .active > a, 
.navbar-event .navbar-nav > .active > a:hover{
  color: #fff;
}

/* Event */
#event .tab-block .icon i{
  color: #cc66ff;
}
/* Featured icon */
.featured-box .icon i{
  color: #cc66ff;
}
/* Schedule */
.main-board .day > li.active > a, 
.main-board .day > li.active > a:focus, 
.main-board .day > li.active > a:hover{
  background-color: #cc66ff;
}
.main-board .day > li > a:focus, 
.main-board .day > li > a:hover{
  background: #cc66ff;
}

.venu{
  font-size: 20px;
  font-weight: bold;
}

/* page header */
.page-header .breadcrumb liba{
  color: #cc66ff;
}
.page-header .breadcrumb li a:hover{
  color: #cc66ff;
}
/* Intro */
#intro::before{
  background: #cc66ff;
}

.white {
  color: #fff;
}

/* Landing page logo*/
.bgimage {
  width:100%;
  height:100vh;
  background: url('/static/img/hero.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size:cover;
}
.bgimage h1 {
  color:white;
  text-shadow:2px 2px #333;
  font-size: 80px;
}
.tag-line{
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.hero-text{
  font-size: 50px;
}
section .about-section{
  background-image: url('/static/img/about.png');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center center;
}

.image{
  height: 200px;
  width: 250px;
  border-radius: 3%;
}
blockquote{
  quotes: "“" "”" "‘" "’";

}
blockquote::before{
  content: "\201C";
  font-size: 13rem;
  color:#cc66ff;
  opacity: 0.6;
  font-weight: bold;
  position: absolute;
  z-index: -1;
  margin-top: 50px;
}

@media (max-width: 575.98px)  { 
  .tag-line{
    font-size: 40px;
   padding: 0px;
  }

  #social i{
    font-size: 50px;
  }
  #social{
    margin-bottom: 60px;
  }
  .hero-text{
    font-size: 37px;
  }
  .bold-word{
    font-size: 42px !important;
  }
}

.modal-xl {
  min-width: 100%;
  margin: 0;
}

.modal-xl .modal-content {
  min-height: 100vh;
}

.invisible{
  display: none !important;
}

.col-form-label{
  font-weight: bold !important;
}

.footer-link{
  color: #cc66ff;
}

.social-media-links > a{
  color: #333 !important;
}

.carousel {
	margin: 50px auto;
	padding: 0 70px;
}
.carousel .item {
	color: #999;
	overflow: hidden;
    min-height: 120px;
	font-size: 13px;
}
.carousel .media img {
	width: 80px;
	height: 80px;
	display: block;
	border-radius: 50%;
}
.carousel .testimonial {
	padding: 0 15px 0 60px ;
	position: relative;
}
.carousel .testimonial::before {
	content: '\93';
	color: #e2e2e2;
	font-weight: bold;
	font-size: 68px;
	line-height: 54px;
	position: absolute;
	left: 15px;
	top: 0;
}
.carousel .overview b {
	text-transform: uppercase;
	color: #1c47e3;
}
.carousel .carousel-indicators {
	bottom: -40px;
}
.carousel-indicators li, .carousel-indicators li.active {
	width: 18px;
    height: 18px;
	border-radius: 50%;
	margin: 1px 3px;
}
.carousel-indicators li {	
    background: #e2e2e2;
    border: 4px solid #fff;
}
.carousel-indicators li.active {
	color: #fff;
    background: #1c47e3;    
    border: 5px double;    
}