{%load bootstrap4%}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
  
    <title>FSMKCamp'20</title>

    <!-- Bootstrap -->
    <link rel="stylesheet" type="text/css" href="/static/css/bootstrap.min.css" >    
    <!-- DataTables -->
    <link rel="stylesheet" type="text/css" href="/static/css/datatables.min.css" >    


</head>
  <body class="container-fluid">
    <h2>
        Welcome {{user.firstname}},
    </h2>
    <br> <br>
    <div class="row">
        <div class="col-6">
            <h4>At this stage , out of the {{total_registered}} people who registered for the camp, about {{total_confirmed}} are confirmed and {{total_unconfirmed}} are yet to be confirmed. </h4>
        </div>
        <div class="col-6">
                <table class="table">
                    <thead>
                        <tr>
                            <td>Track Name</td>
                            <td>Confirmed Count</td>
                            <td>UnConfirmed Count</td>
                        </tr>
                    </thead>
                    <tbody>
                        {%for name, count in track_registered.items %}
                            <tr>
                                <td>
                                    {{name}}
                                </td>
                                <td>
                                    {{count.0}}
                                </td>
                                <td>
                                    {{count.1}}
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
        </div>
    </div>
    <br> <br>
    <div class="row">
        <div class="col-6">
            <h3>T-Shirt Size - Confirmed VS Non-Confirmed</h3>
            <table class='table'>
                <thead>
                    <tr>
                        <td>T-Shirt Size</td>
                        <td> Confirmed</td>
                        <td> Un-Confirmed</td>
                    </tr>
                </thead>
                <tbody>
                    {% for shirt_size,shirt_count in tshirt_sizes.items %} 
                        <tr>
                            <td>{{shirt_size}}</td>
                            <td>{{shirt_count.0}}</td>
                            <td>{{shirt_count.1}}</td>
                        </tr>    
                    {%endfor%}
                </tbody>
            </table>
        </div>

        <div class="col-6">
            <h3>Gender Distribution - Confirmed VS Non-Confirmed</h3>
            <table class='table'>
                <thead>
                    <tr>
                        <td>Gender</td>
                        <td> Confirmed</td>
                        <td> Un-Confirmed</td>
                    </tr>
                </thead>
                <tbody>
                    {% for gender,gender_count in gender_registered.items %} 
                        <tr>
                            <td>{{gender|title}}</td>
                            <td>{{gender_count.0|default:0}}</td>
                            <td>{{gender_count.1|default:0}}</td>
                        </tr>    
                    {%endfor%}
                </tbody>
            </table>
        </div>
        <div class="col-3">
            <h3>Educational Institutes I am tracking</h3>
            <table class='table' id="colleges_table">
                <thead>
                    <tr>
                        <td class="no-sort">College Name</td>
                        <td class="no-sort">Co-Ordinator</td>
                        <td class="no-sort">Volunteer</td>
                    </tr>
                </thead>
                <tbody>
                    {% for college in my_colleges %}
                        <tr>
                            <td>
                                {{college.name}}
                            </td>
                            <td>
                                {{college.volunteer}}
                            </td>
                            <td>
                                {{college.coordinator}}
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>

        <div class="col-9">
            <h3>Track specific participants under my name(sort by college name or track)</h3>
            <table class='table' id="participant_table">
                <thead>
                    <tr>
                        <td class="no-sort">Name</td>
                        <td> College Name </td>
                        <td class="no-sort"> Email</td>
                        <td class="no-sort"> Phone Number</td>
                        <td> Track</td>
                    </tr>
                </thead>
                <tbody>
                    {% for participant in my_participants%}
                    <tr>
                        <td>
                            {{participant.name}}
                        </td>
                        <td>
                            {{participant.college.name}}
                        </td>
                        <td>
                            {{participant.email}}
                        </td>
                        <td>
                            {{participant.contact}}
                        </td>
                        <td>
                            {{participant.track}}
                        </td>
                    </tr>
                        
                    {%endfor%}
                </tbody>
            </table>
        </div>
    </div>
</body>
<script src="/static/js/jquery.min.js"></script>
<script src="/static/js/datatables.min.js"></script>
<script>
    $('#participant_table').DataTable({
        "ordering": true,
        columnDefs: [{
          orderable: false,
          targets: "no-sort"
        }]
    });
</script>
</html>
