<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>FSMK Camps'20 Registration confirmation</title>

    <meta name="description" content="Email confirmation for registration">
    <meta name="author" content="FSMK">

    <style>
        body {
            background-color: #f7f7f7;
        }
        
        .white {
            background-color: white !important;
        }
        .container{
            margin-left: 20%;
            margin-right: 20%;
            background-color: white;
        }
        .content{
            margin-left: 5%;
            margin-right: 5%;
        }
        
        .center {
            margin-left: 20vw;
        }
    </style>
</head>

<body>

    <div class="container">

        <div class="content">
                <img alt="FSMK Camp Logo" class="img-responsive" src="https://fsmkcamp19.sfo2.cdn.digitaloceanspaces.com/camp-logo-teal.png">
                <h3 class="center">
                    Welcome to FSMK Camps'20
                </h3>
                <p>
                    {% block email_header %}
                        Hi {{name}}, great to see you are interested in our camp. <br />
                        This year, the camp is happening from 25th - 31st January 2019 at Vemana Institute of Technology, Bangalore. <br />
                        FSMKCamps are residential in nature, and would require you to stay at the venue during the days of the camp. We will arrange for the stay in the college hostel itself, and take care of food during the days of the camp.
                    {% endblock %}
                </p>
            </div>

            <div class="content">
                {% block email_body %}

                {%endblock%}
            </div>

            <div class="content">
                <p>
                    You can also follow us on social media for public updates.

                    <br>

                    <a href="https://www.facebook.com/groups/freesoftwaremovementkarnataka/"><i class="fab fa-twitter fa-4x"></i> Facebook</a>
                    <a href="https://mastodon.social/@fsmk_org"><i class="fab fa-mastodon fa-4x"></i> Mastodon</a>
                    <a href="https://twitter.com/fsmk_org"><i class="fab fa-facebook fa-4x"></i> Twitter</a>
                    <a href="https://www.instagram.com/fsmk_org"><i class="fab fa-instagram fa-4x"></i> Instagram</a>
                </p>
            </div>
    </div>

</body>

</html>