Hacktivist camp is not for programmers. If fact there is alot of other ways to contribute. If you are creative enough, you could contribute to art work, if you a social media savvy person, you could help us manage our social media, if you are good at writing, you could write articles for us. There is just end for your skills to contribute here. 
<br>
<br>
Just come in, and help us save democracy :) 
<br>
<br>
<form action="/hacktivist_camp/" method="post">
        <input type="email" name="email" placeholder="Enter the email you used to register">
    <br>
    <br>
    {% csrf_token %}
        <input type="number" name="contact" placeholder="Enter the mobile number you entered to register">
    <br>
    <br>
    <button type="submit">Find me</button>
</form>
<br>
<br>
{%if participant%}

Hi {{participant.name}}, tell us your interest level


<form action="/hacktivist_camp/" method="post">
    {%csrf_token%}
    <input type="hidden" name="email" value="{{participant.email}}">
    <input type="hidden" name="contact" value="{{participant.contact}}">
    <select name="choice" id="">
        <option value="can">I can attend the camp </option>
        <option value="interested">I am intersted but cant attend the camp</option>
        <option value="iffree">I can contribute if at all I am free</option>
    </select>
    <button type="submit">Update my preference</button>
</form>

{%endif%}

{% if success %}

{{success}}

{%endif%}