{%load bootstrap4%}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
  
    <title>FSMKCamp'20</title>

    <!-- Bootstrap -->
    <link rel="stylesheet" type="text/css" href="/static/css/bootstrap.min.css" >    
    <!-- Main Style -->
    <link rel="stylesheet" type="text/css" href="/static/css/main.css">
    <!-- Fonts -->
    <link rel="stylesheet" type="text/css" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css">
    <!-- Icon -->
    <link rel="stylesheet" type="text/css" href="/static/fonts/simple-line-icons.css"> 
    <!-- Animate -->
    <link rel="stylesheet" type="text/css" href="/static/css/animate.css">    
    <!-- Color CSS Styles  -->
    <link rel="stylesheet" type="text/css" href="/static/css/default.css" media="screen" /> 

    <link type="text/css" rel="stylesheet" href="static/css/simplePagination.css"/>


  </head>
  <body>

    {% include 'navbar.html'%}
    <!-- Header Area wrapper End -->

    <!-- Main Slider Section Start -->
    <section class="bgimage">
          <div class="">
                  
                  <div class="hero-text text-white"><span class="display-4">Get ready for the</span> <br><span class="font-weight-bolder display-2 bold-word" style="font-family: 'Montserrat Bold'; color: #cc66ff;">EXPLORATION</span> <br>
                  <span style="font-size: 30px;">in association with</span><br>
                  <a href="https://vtu.ac.in/administration-circulars/circular-7-days-industry-orientation-camp-jointly-organized-by-vemana-institute-of-technology-and-fsmk/" target="_blank"><img class="img-fluid w-50 p-sm-2" src="/static/img/association.png"></a>
                  </div>
                  <!-- <h5 class=""> 25-31 January 2020, Bengaluru</h5> -->
                  <!-- <button type="button" class="btn btn-outline-primary btn-lg">Register Now</button> -->
                </div>
    </section>

    <!-- Main Slider Section End -->

    <!-- Call to action Section -->
    <section id="event" class="section">
      <div class="container">
        <div class="row">
          <div class="col-md-3 col-sm-12 col-xs-12 justify-content-center-sm">
            <div class="tab-block wow fadeInDown animated" data-wow-delay="0s" style="visibility: visible;-webkit-animation-delay: 0s; -moz-animation-delay: 0s; animation-delay: 0s;">
              <div class="icon">
                <i class="icon-location-pin"></i>
              </div>
              <div class="desc">
                <h4>Location</h4>
                <p>Vemana Institute of Technology, Bengaluru <br><a style="color: #cc66ff;" href="https://www.openstreetmap.org/note/2037775" target="_blank">Map link</a></p>
              </div>
            </div>
          </div>
          <div class="col-md-3 ccol-sm-12 col-xs-12">
            <div class="tab-block wow fadeInDown animated" data-wow-delay="0.2s" style="visibility: visible;-webkit-animation-delay: 0.2s; -moz-animation-delay: 0.2s; animation-delay: 0.2s;">
              <div class="icon">
                <i class="icon-calendar"></i>
              </div>
              <div class="desc">
                <h4>Date</h4>
                <p> <span class="font-weight-bolder" style="color: #cc66ff; font-size: 20px;">25-31</span> January 2020</p>
              </div>
            </div>
          </div>
          <div class="col-md-3 col-sm-12 col-xs-12">
            <div class="tab-block wow fadeInDown animated" data-wow-delay="0.4s" style="visibility: visible;-webkit-animation-delay: 0.4s; -moz-animation-delay: 0.4s; animation-delay: 0.4s;">
              <div class="icon">
                <i class="icon-microphone"></i>
              </div>
              <div class="desc">
                <h4>Speakers</h4>
                <p>10+ Professionals</p>
              </div>
            </div>
          </div>
          <div class="col-md-3 col-sm-12 col-xs-12">
            <div class="tab-block last-block wow fadeInDown animated" data-wow-delay="0.6s" style="visibility: visible;-webkit-animation-delay: 0.6s; -moz-animation-delay: 0.6s; animation-delay: 0.6s;">
              <div class="icon">
                <i class="icon-wallet"></i>
              </div>
              <div class="desc left">
                <h4>Tickets available</h4>
                <p><span class="font-weight-bolder" style="color: #cc66ff; font-size: 20px;">{{total_seats_remaining}}</span> out of 300</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- Call to action Section End -->

    <section class="py-10" style="background-image: url('/static/img/about.png'); background-attachment: fixed; background-repeat: no-repeat; background-position: center center; background-size: cover; ">
      <div class="container">
        <h3 class="wow fadeInUp animated text-white text-uppercase mb-4" data-wow-delay="0.5s" style="visibility: visible;-webkit-animation-delay: 0.8s; -moz-animation-delay: 0.8s; animation-delay: 0.8s;">Get fresh insights into the world of tech and society</h3>
        <div class="row align-items-center">
          <div class="col-md-9 col-sm-9 col-xs-9">
            <div class="">
              <p class="wow fadeInUp animated text-white" data-wow-delay="0.6s" style="visibility: visible;-webkit-animation-delay: 1s; -moz-animation-delay: 1s; animation-delay: 1s;">
                FSMKCamps present a different prespective to technology. As much as we love technology, we also care deeply about our society and the impact of technology in our society. 
                Our camps not only focus on imparting technology, but also has various talks about a technology focussed society and how every individual can contribute towards a safer and ethical techno-society.
            
                FSMKCamps are residential in nature, where we take care of stay, food and other things during the days of the camp.
              </p>
            </div>
          </div>         
        </div>
      </div>
    </section>

    <section id="featured" class="section">
      <div class="container">
        <div id="tracks-section" class="row">
          <div class="col-12">
            <h2 class="section-title wow fadeInUp animated" data-wow-delay="0s" style="visibility: visible;-webkit-animation-delay: 0s; -moz-animation-delay: 0s; animation-delay: 0s;">
              Tracks</h2>
          </div>

           <!-- <p class="section-subcontent wow fadeInUp animated" data-wow-delay="0.2s" style="visibility: visible;-webkit-animation-delay: 0.2s; -moz-animation-delay: 0.2s; animation-delay: 0.2s;">
              Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. A <br> enean massa. Cum sociis natoque penatibus et magnis dis parturient montes.</p> -->
            <div class="card col-md-4 col-lg-4 col-sm-12 border-0 shadow-sm p-3 mb-5 bg-white rounded">
              <div class="card-body featured-box wow fadeInLeft animated" data-wow-delay="0.4s" style="visibility: visible;-webkit-animation-delay: 0.1s; -moz-animation-delay: 0.1s; animation-delay: 0.1s;">
                <div class="icon">
                  <i class="{{tracks.0.track_icon}}"></i>
                </div>
                <div class="featured-content">
                  <h4 id="track_{{tracks.0.id}}">{{tracks.0.track_name}}</h4>
                  <p class="text-left">{{tracks.0.track_description}}</p>
                </div>
              </div>
              
              {% if tracks.0.track_seats_remaining == 0 %}
              Registration Closed
              {%else%}
              <div class="row">
                <div class="col-sm-6">
                  <h4><span class="badge badge-info">Cost: {{tracks.0.track_cost}}/- INR </span> </h4>
                </div>
                <div class="col-sm-6">
                <h4><span class="badge badge-{%if tracks.0.track_seats_remaining <= 10 %}danger {%elif tracks.0.track_seats_remaining > 10 and tracks.0.track_seats_remaining <= 20 %}warning {%else%}primary{%endif%}">{{tracks.0.track_seats_remaining}} seats left</span></h4>
                </div>
              </div>
              <div class="buttons card-footer bg-transparent border-0 mx-auto">
                <button style="background-color:#cc66ff;" type="button" class="btn btn-primary register border-0" data-id="track_{{tracks.0.id}}" data-track-id="{{tracks.0.id}}">Register Now</button> 
              <div>   
              {%endif%}
              </div>
            </div>
            </div>
            <div class="card col-md-4 col-lg-4 col-sm-12 border-0 shadow-sm p-3 mb-5 bg-white rounded">
              <div class="card-body featured-box wow fadeInLeft animated" data-wow-delay="0.3s" style="visibility: visible;-webkit-animation-delay: 0.2s; -moz-animation-delay: 0.2s; animation-delay: 0.2s;">
                <div class="icon">
                  <i class="{{tracks.1.track_icon}}"></i>
                </div>
                <div class="featured-content">
                  <h4 id="track_{{tracks.1.id}}">{{tracks.1.track_name}} </h4>
                  <p class="text-left hack">{{tracks.1.track_description}}
                  </p>
                </div>
              </div>
              {% if tracks.1.track_seats_remaining == 0 %}
                    Registration Closed
              {%else%}
                    <div class="row">
                      <div class="col-sm-6">
                        <h4><span class="badge badge-info">Cost: {{tracks.1.track_cost}}/- INR </span> </h4>
                      </div>
                      <div class="col-sm-6">
                      <h4><span class="badge badge-{%if tracks.1.track_seats_remaining <= 10 %}danger {%elif tracks.1.track_seats_remaining > 10 and tracks.1.track_seats_remaining <= 20 %}warning {%else%}primary{%endif%}">{{tracks.1.track_seats_remaining}} seats left</span></h4>
                      </div>
                    </div>
                    <div class="buttons card-footer bg-transparent border-0 mx-auto">
                      <button style="background-color:#cc66ff;" type="button" class="btn btn-primary register border-0" data-id="track_{{tracks.1.id}}" data-track-id="{{tracks.1.id}}">Register Now</button>
                    <div>                     
                {%endif%}
                    </div>                          
              </div>
            </div>
            <div class="card col-md-4 col-lg-4 col-sm-12 border-0 shadow-sm p-3 mb-5 bg-white rounded">
              <div class="card-body featured-box wow fadeInLeft animated" data-wow-delay="0.2s" style="visibility: visible;-webkit-animation-delay: 0.3s; -moz-animation-delay: 0.3s; animation-delay: 0.3s;">
                <div class="icon">
                  <i class="{{tracks.2.track_icon}}"></i>
                </div>
                <div class="featured-content">
                  <h4 id="track_{{tracks.2.id}}">{{tracks.2.track_name}}</h4>
                  <p class="text-left hack">{{tracks.2.track_description}} </p>
                  
                </div>
              </div>
              {% if tracks.2.track_seats_remaining == 0 %}
                  Registration Closed
              {%else%}
                <div class="row">
                  <div class="col-sm-6">
                    <h4><h4><span class="badge badge-info">Cost: {{tracks.2.track_cost}}/- INR </span> </h4></h4>
                  </div>
                  <div class="col-sm-6">
                    <h4><span class="badge badge-{%if tracks.2.track_seats_remaining <= 10 %}danger {%elif tracks.2.track_seats_remaining > 10 and tracks.2.track_seats_remaining <= 20 %}warning {%else%}primary{%endif%}">{{tracks.2.track_seats_remaining}} seats left</span></h4>
                  </div>
                </div>
                <div class="buttons card-footer bg-transparent border-0 mx-auto">
                  <button style="background-color:#cc66ff;" type="button" class="btn btn-primary register border-0" data-id="track_{{tracks.2.id}}" data-track-id="{{tracks.2.id}}">Register Now</button>
                <div> 
              {%endif%}
                </div>              
              </div>
            </div>
        </div>
        <div class="row border-left-yellow p-3 bg-light">
            <div class="col-md-1 col-sm-1 align-self-center text-md-center"><i class="fas fa-info-circle h2 text-warning"></i></div>
          <div class="col-md-11 col-sm-11 p-0">
            <p class="h4">The paid fee includes food & accomodation for all 7 days, course material, goddies which includes a bright and colourful t-shirt.</p>
          </div>
        </div>
      </div>
      <!-- Modal -->
      <!--registration Modal-->
      <div id="register_modal" class="modal fade" role="dialog">
        <div class="modal-dialog modal-xl">

          <!-- Modal content-->
         <div class="">
           <div class="row">
              <div class="modal-content">
                  <div class="modal-header">
                      <h4 class="modal-title p-4"></h4>
                      <button type="button" class="close" data-dismiss="modal">&times;</button>
                    </div>
                  <div class="container">
                    <div class="row">
                      <div class="col-md-4 p-5" id="track_description">
                        Syllabus and Schedule to be updated soon. Keep watching this space for updates. If you are a registered participant, you will get an email with the Schedule and Syllabus.  
                        <!-- <a style="background-color:#cc66ff;" class="btn btn-primary" href="/media/FSMK_camp_schedule_tentative.pdf" target="_blank">Download Schedule and Syllabus</a> -->
                      </div>
                      <div class="col-md-8 pb-4">
                       
                            <div class="modal-body">
                
                              <form id="register_form">
                                  {% csrf_token %}
                                  {% bootstrap_form reg_form layout='horizontal'%}
                                  {% buttons %}
                                    <button style="background-color:#cc66ff;" type="button" class="btn btn-primary float-right mt-4 border-0" id="register">Register</button>
                                    <br />
                                  {%endbuttons %}
                              </form>

                              <div id="register_success" class="invisible">
                                  <div class="text-center">
                                    <i class="fa fa-thumbs-up text-success fa-6x"></i>
                                  </div>
                                  <h3 class="text-center" id="response_header">Registration success!</h3>
                                  <h4 id="response_message"></h4>
                              </div>

                              <div id="register_success" class="invisible">
                                  <div class="text-center">
                                    <i class="fa fa-exclamation-triangle text-success fa-6x"></i>
                                  </div>
                                  <h3 class="text-center" id="error_header">Registration success!</h3>
                                  <h4 id="error_message"></h4>
                              </div>
                            </div>
                      </div>
                    </div>
                  </div>
                  </div>
                  <div class="modal-footer">
                    <br>
                  </div>
           </div>
         </div>

        </div>
      </div>
      <!--registration modal end-->
    </section>

    <!-- Speaker Section Start -->

    <section id="speakers-section" class="section">
      <div class="container">
          <h4 class="section-title wow fadeInUp animated" data-wow-delay="0s" style="visibility: visible;-webkit-animation-delay: 0s; -moz-animation-delay: 0s; animation-delay: 0s;">
              Track Speakers</h4>
        <div  class="row">
          <div class="col-12 col-md-6">
            <img class="img-fluid" src="static/img/announce.png"/>
          </div>
          <div class="col-12 col-md-6 align-self-center">
            <h5 class="section-title wow fadeInUp" data-wow-delay="0s" style="visibility: hidden; -webkit-animation-name: none; -moz-animation-name: none; animation-name: none;-webkit-animation-delay: 0s; -moz-animation-delay: 0s; animation-delay: 0s;">Will be announced soon. <span style="color: #cc66ff;">Stay tuned.</span></h4>
            <!-- <p class="section-subcontent wow fadeInUp text-muted" data-wow-delay="0.2s" style="visibility: hidden; -webkit-animation-name: none; -moz-animation-name: none; animation-name: none;-webkit-animation-delay: 0.2s; -moz-animation-delay: 0.2s; animation-delay: 0.2s;">
                    Never doubt that a small group of thoughtful, concerned people can change your life. Indeed it is the only thing that ever has.
            </p> -->
          </div>
          <!-- {% for speaker in speakers %}
          <div class="col-md-4 col-sm-6 col-xs-12">
            <div class="speakers-member wow fadeIn" data-wow-delay="0.1s" style="visibility: hidden; -webkit-animation-name: none; -moz-animation-name: none; animation-name: none;-webkit-animation-delay: 0.1s; -moz-animation-delay: 0.1s; animation-delay: 0.1s;">
              <div class="member-img">
                <img src="/media/{{speaker.profile_pic}}" alt="">
              </div>
              <div class="member-desc">
                <h3>{{speaker.name}}</h3>
                <h5>{{speaker.designation}}</h5>
                <p>{{speaker.description}}</p>
                <div class="social-icon">
                  {%if speaker.facebook%}
                  <a class="social" href="https://facebook.com/{{speaker.facebook}}" target="_blank"><i class="fab fa-facebook"></i></a>
                  {%endif%}
                  {%if speaker.twitter%}
                  <a class="social" href="https://twitter.com/{{speaker.twitter}}" target="_blank"><i class="fab fa-twitter"></i></a>
                  {%endif%}
                  {%if speaker.mastodon%}                  
                  <a class="social" href="{{speaker.mastodon}}" target="_blank"><i class="fab fa-mastodon"></i></a>
                  {%endif%}
                  {%if speaker.instagram%}                  
                  <a class="social" href="https://instagram.com/{{speaker.instagram}}" target="_blank"><i class="fab fa-instagram"></i></a>
                  {%endif%}
               
                </div>
              </div>
            </div>
          </div>
          {% endfor %} -->
        </div>
      </div>
    </section>
  <!-- Speaker Section End --> 
<hr class="mx-5">
    <!-- Testimonial Section-->
    <div class="container" id="testimonial">
        <h2 class="wow fadeInUp animated mb-5" data-wow-delay="0s" style="visibility: visible;-webkit-animation-delay: 0s; -moz-animation-delay: 0s; animation-delay: 0s;">
            Student testimonials
        </h2>
      {% for testimonial in testimonials %}
      <div class="row justify-content-center my-3 py-3 testimonials">
        {% if testimonial.person_image == '' %}
        <div class="col-12 col-md-1 text-center align-self-center mb-4">
        </div>
        <div class="col-12 col-md-11 border-left border-dark">
            <p><em><blockquote>{{testimonial.statement}}</blockquote></em></p>
                <p class="mb-0 h4"><b>{{testimonial.person_name}}</b> </p>
                  <p>{{testimonial.person_details}}</p>
          </div>
        {% else %}
        <div class="col-12 col-md-4 text-center align-self-center mb-4">
          <img class="img-fluid image" src="/media/{{ testimonial.person_image }}"/>
        </div>
        <div class="col-12 col-md-7">
          <p><em><blockquote>{{testimonial.statement}}</blockquote></em></p>
          <p class="mb-0 h4"><b>{{testimonial.person_name}}</b> </p>
          <p>{{testimonial.person_details}}</p>
        </div>
        {% endif %}
      </div>
      {% endfor %}
      <div class="row justify-content-center mb-4">
        <div class="text-center" id="pagination-container"></div>
      </div>
    </div>
    <!-- Testimonial Section End-->
      <!--FAQ section start-->
      <section id="faq" class="section">
        <div class="container-fluid">
          <h2 class="text-center text-white mb-5">Frequently Asked Questions</h2>
          <div id="faq-section" class="row">
            <div class="col-12">
                <div id="accordion">
                    {%for faq in faqs%}
                    <div class="card">
                      <div class="card-header" id="heading_{{faq.id}}">
                        <h5 class="mb-0">
                          <a class="btn btn-sm" style="padding:0" data-toggle="collapse" data-target="#id_{{faq.id}}" aria-expanded="true" aria-controls="{{faq.id}}">
                            {{faq.id}}. {{faq.question}}
                          </a>
                        </h5>
                      </div>
                  
                      <div id="id_{{faq.id}}" class="collapse" aria-labelledby="heading_{{faq.id}}" data-parent="#accordion">
                        <div class="card-body">
                          <p class="text-dark">{{faq.answer}}</p>
                        </div>
                      </div>
                    </div>
                    {%endfor%}
                  </div>

            </div>
            
          </div>
        </div>
      </section>
      <!-- FAQ section end -->

    <!-- Footer Section Start -->   
    <footer class="section border-top pb-0">  
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-md-4 col-sm-4 col-xs-12 text-left">
            <h3><img style="height: 80px" class="mx-100" src="/static/img/campLogoBlack.png" alt="FSMKCamps2020"></h3>
            <p>
              <a class="footer-link" href="https://fsmk.org/" target="_blank">Free Software Movement Karnataka (FSMK) </a> is a not-for-profit organisation, that aims to educate and help adopt <a class="footer-link" href="https://www.gnu.org/philosophy/free-sw.html" target="_blank"> Free(dom) software </a> amongst people.
            </p>
          </div>
             

          <div class="col-md-2 col-sm-4 col-xs-12 mb-2">
          <a href="https://vemanait.edu.in/"><img src="/static/img/VIT.png" width="150" height="150" class="img img-responsive" alt="Vemana Institute of Technology,Bengaluru"></a>       
        </div>
        <div class="col-md-3 col-sm-4 col-xs-12 mb-2 text-center">
            <a href="https://vtu.ac.in/administration-circulars/circular-7-days-industry-orientation-camp-jointly-organized-by-vemana-institute-of-technology-and-fsmk/"><img src="/static/img/VTU.png" width="150" height="150" class="img img-responsive" alt="Vemana Institute of Technology,Bengaluru"></a>
        </div>        
          <div id="social" class="social-media-links col-md-3 col-sm-4 col-xs-12 text-md-right">
                <br>
                <br>
                <a href="https://www.facebook.com/groups/freesoftwaremovementkarnataka/">
                  <i class="fab fa-3x fa-facebook"></i></a>
                </a>
                &nbsp; &nbsp;
                <a href="https://mastodon.social/@fsmk_org"><i class="fab fa-3x fa-mastodon"></i></a>
                </a>
                &nbsp; &nbsp;

                <a href="https://twitter.com/fsmk_org"><i class="fab fa-3x fa-twitter-square"></i></a>
                    
                </a>
                &nbsp; &nbsp;

                <a>
                    <a href="https://www.instagram.com/fsmk_org"><i class="fab fa-3x fa-instagram"></i></a>
                </a>
          </div>

      </div>   
      </div>
      <div style="background-color: #333; color: white;" class="py-3">
        <span class="text-white mb-0 ml-2"><i class="fab fa-creative-commons-by h4"></i>   Attributions</span> | <a href="https://www.vecteezy.com/free-vector/announcement"><small>Announcement Vectors by Vecteezy</small></a>
        
      </div>
      </footer>   
    </footer>  
    <!-- Footer Section End -->  
   
    </div>
    <!-- Main contetn End -->

    <!-- Copytight Start -->
    <!-- <section id="copyright">
      <div class="container">
        <div class="row">
          <div class="col-md-12 text-center">
              <a href="">
                <i class="fab fa-3x fa-facebook text-center"></i></a>
              </a>
              <a href=""><i class="fab fa-3x fa-mastodon"></i></a>
              </a>
              <a href=""><i class="fab fa-3x fa-twitter-square"></i></a>
                  
              </a>
              <a>
                  <a href=""><i class="fab fa-3x fa-instagram"></i></a>
              </a>

              
              
              
          </div>
        </div>
      </div>
    </section>  -->
    <!-- Copytight End -->   

    <!-- Go to Top Link -->
    <a href="#" class="back-to-top">
    <i class="icon-arrow-up"></i>
    </a>

     

    <!-- jQuery Load -->    
    <script src="/static/js/jquery.min.js"></script>
    <!-- Bootstrap JS -->
    <script src="/static/js/bootstrap.min.js"></script>
    <!-- Wow Scroll -->
    <script src="/static/js/wow.js"></script> 
    <script type="text/javascript" src="static/js/jquery.simplePagination.js"></script> 

    <script>
      $(document).ready(function() {
        $('#pagination-container').pagination({
            items: numItems,
            itemsOnPage: perPage,
            prevText: "&laquo;",
            nextText: "&raquo;",
            onPageClick: function (pageNumber) {
                var showFrom = perPage * (pageNumber - 1);
                var showTo = showFrom + perPage;
                items.hide().slice(showFrom, showTo).show();
            }
        });
      });

    var items = $(".testimonials");
    var numItems = items.length;
    var perPage = 2;

    items.slice(perPage).hide();

    </script>
    <!-- Smooth scroll JS -->   
    <script src="/static/js/smooth-scroll.js"></script>        
    <!-- All Js plugin -->
    <script src="/static/js/main.js"></script> 
    
  </body>
</html>
