<header class="header navbar fixed-top navbar-expand-md">
    <div class="container">
        <a class="navbar-brand" href="#">
            <img class="logo py-2" src="/static/img/campLogoWhite.png" alt="FSMK-logo"/>
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#headernav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="fas fa-bars text-align-right text-white"></span>
        </button>
        <div class="collapse navbar-collapse flex-sm-row-reverse" id="headernav">
            <ul class="nav navbar-nav menu">
                <li class="nav-item">
                    <a class="nav-link active" href="#">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link " href="#speakers-section">Speakers</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link " href="#tracks-section">Tracks</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link " href="#faq">FAQ</a>
                </li>                  
                <!-- <li class="nav-item">
                    <a class="nav-link " href="#">Schedule & Syllabus </a>
                </li> -->
                <!-- <li class="nav-item">
                    <a class="nav-link " href="#">Contact</a>
                </li> -->
            </ul>
        </div>
    </div>
</header>
