{% extends 'email_generic_template.html' %}

{% block email_header %}
  
{% endblock %}
{% block email_body %}
Hello {{name}},

It is quite exciting for us to see that you are interested in FSMKCamp'20 . But it appears that you are yet to complete your payment to confirm your seat. We highly encourage you to confirm your seat soon, as there are limited seats available and seats are filling up fast. 

We are sharing the contact details below. Please contact one of them at the earliest for payment and confirmation.

Below are the details of your registration : <br />
<br>
<br>
Amount to be paid : {{fee}} /- INR <br>
Track             : {{track}} <br>
T-Shirt           : {{tshirt}} <br>
College           : {{college}} <br>
<br>
<br>
Point of Contact to make the payment 
<br>
<br>
<table class="table">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Name</th>
                <th scope="col">Contact</th>
                <th scope="col">Email</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row">1</th>
                <td>{{volunteer.first_name}}</td>
                <td>{{volunteer.username}}</td>
                <td>{{volunteer.email}}</td>
            </tr>
            <tr>
                <th scope="row">2</th>
                <td>{{coordinator.first_name}}</td>
                <td>{{coordinator.username}}</td>
                <td>{{coordinator.email}}</td>
            </tr>
        </tbody>
    </table>
{% endblock %}