{% extends 'email_generic_template.html' %}

{% block email_header %}
    Hi {{name}}, Thank you for registring for FSMKCamps'20 <br />
    This year, the camp is happening from 25th - 31st January 2020 at Vemana Institute of Technology, Bangalore. <br />
    FSMKCamps are residential in nature, and would require you to stay at the venue during the days of the camp. We will arrange for the stay in the college hostel itself, and take care of food during the days of the camp.
{% endblock %}

{% block email_body %}
    <div class="">
        <div class="content">
            <h2>
                1. Camp registration Fee
            </h2>
            <p>
                The registration fee for <strong>"{{track}}"</strong> is <strong>{{fee}} /- INR </strong>. 
                <br>
                The fee includes track specific kits (if any), food and stay during the days of the camp, one T-shirt ({{tshirt}}).
                We also use the funds from this fee to pay for the stay and food of our volunteers and
                speakers, and also to pay the travel and other allowances of the speakers.
            </p>
            <p>OR</p>
            <p>Make payment with below details</p>
            <p>Name: Free Software Movement Karnataka<br>
            SB Account No: 1172101012320<br>
            IFSC code :  CNRB0001172 <br>
            Bank:  Canara Bank, Kalasipalya. Bangalore</p>
            <p>
                To pay the camp fee you can contact any of the "Point of Contact" shared below. <br />
                <strong> Note: </strong> Unless the payment is made and a confirmation is received, this mail does not confirm your registration in the camp.
            </p>
        </div>
    </div>

    <hr>

    <div class="">
        <div class="content">
            <h2>
                2. Point of Contact
            </h2>
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Name</th>
                        <th scope="col">Contact</th>
                        <th scope="col">Email</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th scope="row">1</th>
                        <td>{{volunteer.first_name}}</td>
                        <td>{{volunteer.username}}</td>
                        <td>{{volunteer.email}}</td>
                    </tr>
                    <tr>
                        <th scope="row">2</th>
                        <td>{{coordinator.first_name}}</td>
                        <td>{{coordinator.username}}</td>
                        <td>{{coordinator.email}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <hr>
    <div class="">
        <div class="content">
            <h2>
                3. What next?
            </h2>
            <p>
                Once we have received your payment, we will send you the ticket of confirmation containing
                further details. Give us one day time to confirm payment, since we have to do the payment verfication
                manually at this point. FSMK camps are not the usual workshops that you see around. We try to give life to
                exploring technology. We will also put you in touch with the speakers, add you to our public groups where you can
                meet more like-minded people like yourself, hangout with a lot more of us.
            </p>
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col-md-12">

            <button type="button" class="btn btn-block btn-success btn-lg">
                Great to see your interest in our camps {{name}} :)
            </button>
        </div>
    </div>

{% endblock %}