{%load bootstrap4%}
<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
  
    <title>FSMKCamp'20</title>

    <!-- Bootstrap -->
    <link rel="stylesheet" type="text/css" href="/static/css/bootstrap.min.css" >    
    <link rel="stylesheet" type="text/css" href="/static/css/dataTables.bootstrap4.min.css" >    

  </head>
  <body class="container">

    <div class="container-fluid">
        <table id="feedback"  class="table table-striped table-bordered"  cellspacing="0" width="100%">
            <thead>
                <tr id="filters">
                    <th scope="col"></th>
                    <th scope="col">Feedback</th>
                    <th scope="col">Category</th>
                    <th scope="col">Date</th>
                </tr>
            </thead>
            <tbody>
                {% for feedback in feedbacks %}
                    <tr>
                        <td><a href="#{{feedback.id}}" id="{{feedback.id}}">{{feedback.id}}</a></td>
                        <td>{{feedback.feedback}}</td>
                        <td>{{feedback.get_fcategory_display}}</td>
                        <td>{{feedback.created_date|date:"D d M"}}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>    
    </div>
</body>

<script src="/static/js/jquery.min.js"></script>
<script src="/static/js/datatables.min.js"></script>

<script>
    $(document).ready( function () {
        $('#feedback').DataTable({  // Reinitialize data table
            responsive: true,
            lengthMenu: [[-1, 10, 25, 50], ["All",10, 25, 50]],
            order: [],
            columnDefs: [ { orderable: false, targets: [0,1] } ],            
        });
    } );
</script>
</html>
